
			.legend {
                width: 150px;
	            height: 250px;
                border: thin solid grey;
                background: #fff5f0;
                opacity: 1;
                text-align: center;
				border: 1px solid #737373;
		        border-radius: 5px;
 
            }
			#title {
			    font: 16px Georgia, Times New Roman, serif;
				text-align: center;
				text-transform: uppercase;
			}
			#title2 {
			    font: 16px Georgia, Times New Roman, serif;
				text-align: center;
				text-transform: uppercase;
				font-weight: bold;
			}
			#event {
				font: 17px Georgia, Times New Roman, serif;
				line-height: 1.4;
			}
			#popup{
				text-align: center;
			}
			#popup2{
				text-align: center;
				font-weight: bold;
			}
			#popup3{
				text-align: center;
			}
			#sidebar {
				background: #fff5f0;
				border: 1px solid #737373;
				padding: 25px 25px;
				border-radius: 5px;
			}
			#sidebar2 {
				background: #fff5f0;
				border: 1px solid #737373;
				padding: 25px 25px;
				border-radius: 5px;
			}
			#sid {
				border: 1px solid #737373;
				background: #fff5f0;
				height: 10%;

			}
			#slider {
			    margin: 7px 25px;
			    border: 1px solid #737373;
			}
           .noUi-base .noUi-connect {
                background-color: #6B6B6B;
           }
           .noUi-base .noUi-handle {
			    border: 1px solid #737373;
    
           }
			
			.line {
				  line-height: 2;
			}
			
			.hrline {
                  margin: 5% 0 5%;
				  border: none;
                  height: 5px;
                  color: #000; 
                  background-color: #000; 
			}
			
			.group {
				  margin: 3% 0 3%;

			}
			.img {
				margin: 5% 5% 0 5%;
				height: 15%; 
				width: 15%;
				vertical-align: middle;

			}
			.legendText {
			  font: 17px Georgia, Times New Roman, serif;
			  vertical-align: middle;

			}