.leaflet-control-zoomhome a {
    font: bold 18px "Lucida Console", Monaco, monospace;
}

a.leaflet-control-zoomhome-in,
a.leaflet-control-zoomhome-out {
    font-size: 1.5em;
    line-height: 26px;
}

.leaflet-bar {
    box-shadow: none;
}

.leaflet-control-zoom a {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); 
}

.leaflet-bar a {
    border-radius: 4px;
    background-color: #fff5f0;
    border: 1px solid #737373;
    color: #252525;
}

.leaflet-bar a:last-child {
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.leaflet-bar a:hover {
    background-color: #737373;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #fff5f0;
}

/* Ensure the position property is set to absolute for the control container */
.leaflet-control-zoom {
    position: absolute !important;
    bottom: 10px;   /* Adjust the bottom position as needed */
    right: 10px;    /* Adjust the right position as needed */
    top: auto;      /* Reset the top position */
    left: auto;     /* Reset the left position */
}

/* Adjust spacing between zoom buttons */
.leaflet-control-zoom-in {
    margin-bottom: 10px; /* Adjust the spacing below the zoom-in button */
}

.leaflet-control-zoom-out {
    margin-top: 15px; /* Adjust the spacing above the zoom-out button */
}
